doctype html
html 
    head 
        title Min Webserver
    body 
        h1 Velkommen til min webserver 
        table(border="1")
            tr 
                th Navn
                th Efternavn
                th Alder 
            each item in data 
                tr 
                    td(onclick="showEfternavn(this)", data-lastname=item.lastName)= item.name
                    td(class="lastname-cell")= ''
                    td= item.age
        script. 
            function showEfternavn(element) {
                let lastnameCell = element.nextElementSibling;
                let lastname = lastnameCell.textContent.trim();
                
                if (lastname === '') {
                    lastnameCell.textContent = element.getAttribute("data-lastname");
                } else {
                    lastnameCell.textContent = '';
                }
            }